@import url('https://fonts.googleapis.com/css2?family=Exo&family=Orbitron&family=Rajdhani&family=Saira&display=swap');/* header and nav */
body{
    margin: 0;
    font-family: 'saira', 'sans serif';
    background-color: #e6e6e6;
}

.header-bar{
    display: grid;
    grid-template-columns: 20rem auto;
    /* background-color: #af6046d2; */
    background-color:#a8a8a870;
    color: #e6e6e6;
    box-shadow: 0 0 10px #0000009c;
    z-index: 9999;
    position: absolute;
    width: 100%;
}



.home-header {
    display: grid;
    grid-template-columns: auto;
    background-color: #a8a8a870;
    color: #EBF2FA;
    height: 65px;
    box-shadow: 5px 5px 10px #0000009c;
    z-index: 9999;
    position: absolute;
    width: 100%;
    
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 1.25rem;
    color: #EBF2FA;
}

.home-header nav a {
    /* text-align: center; */
    text-decoration: none;
    /* padding: 0.5rem; */
    /* color: #EBF2FA; */
}

nav {
    display: flex;
    justify-content: space-around;
    width:100%;
    
}

.logo {
    width: 18.5rem;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a:hover {
    background-color: #bc7158;
    color: #ffffff;
    /* background-image: linear-gradient(to right, #AF6046, #AF6046, #ce7253, #AF6046, #AF6046) */

}

.button{
    text-decoration: none;
    color:#EBF2FA;
    background-color: #2d3168;
    font-size: 1rem;
    box-shadow: 0px 0px 10px #0000009c;
}

.button:hover{
    background-color: #363b78;
    color: white;
}

/* header {
    background-color: #002152;
    color: #EBF2FA;
    font-family: 'Raleway', sans-serif;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    margin: auto;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    height: 5rem;
    
}

nav div{
    margin: auto;
    padding: 0 20px;
}



nav a:hover {
    background-color: #d3d4d4;
    color: rgb(32, 33, 36);
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    grid-column: 1/2;
    width: 100%;
}

#logo_link {
    justify-self: center;
    align-self: center;
} */

/* footer */

footer {
    background-color: #c4c3c3;
    color: #427AA1;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.index footer{
    margin: 0 0 0 0;
    background-color: #e6e6e6;
}

.about footer{
    background-color: #e6e6e6;
    margin: 400px 0 0 0px;
}

.rules footer{
    background-color: #e6e6e6;
    margin: 600px 0 0 0px;
}

footer .social img {
    padding-top: 15px;
}

footer a{
    color: #427AA1;
    text-decoration: none;
    font-size: 1.2em;
}

footer a:hover {
    color: #427AA1;
    text-decoration: underline;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer .social img {
    padding-top: 15px;
}

/* hero section */
.hero-banner{
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    grid-template-rows: 1fr;
    
}

.hero-img{
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 0;
    width: 100%;
}

.hero-logo{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 85%;
    z-index: 1;
    align-self: center;
    margin: auto;
}

.intro-block{
    margin: 0;
    padding: 0 2rem;
    background-color: #e6e6e6;
    /* box-shadow: 5px 5px 10px #6f7364; */
}

.intro-block h2{
    width: 100%;
    text-align: center;
    color: #534c58;
}

hr{
    border: 1px solid #534c58;
    width: 75%;
    margin: 0 auto;
}

.intro-block div{
    text-align: center;
    padding: 1rem 2rem 2rem 2rem;
}

.intro-block a {
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.hero-total{
    /* box-shadow: 0 1px 100px 10px rgb(110, 110, 110); */
}

/* join us card */

.menu-block{
    width: 85%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 3rem auto 3rem; */
    /* box-shadow: 0 -2px 10px 7px #00000070; */
    box-shadow: rgba(0, 0, 0, 0.44) 0px 0px 10px 5px;
    background-color: white;
}

.about .menu-block{
    font-size: 1.25rem;
    background-color: white;
    margin: -20rem 5rem 0 5rem;
    position: absolute;
    left: 0;
    right: 0;
}

.menu-block div{
    grid-column: 1/3;
    grid-row: 1/4;
    text-align: left;
    margin: 0;
    padding: 1rem;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto;

}


.menu-block p{
    text-align: left;
    text-decoration: none;
    padding: 2rem;
    margin: 0;
    grid-column: 1/4;
}

.menu-block a{
    text-align: left;
    text-decoration: none;
    padding: 1rem;
    grid-column: 2/3;
}

.menu-img{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    align-self: center;
    margin-right: 2rem;
}
.index div.about-block{
    /* margin: 2rem; */
    width: 85%;
    margin: 3rem auto;
}
.about-block{
    /* margin: 5rem 0; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 3rem auto 3rem; */
    box-shadow: 0 0 10px 5px #00000070;
}

.about-page .about-block{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 3rem auto 3rem; */
    box-shadow: 0 0 10px 5px #00000070;
}

.about-block div{
    grid-column: 1/3;
    grid-row: 1/4;
    text-align: left;
    /* margin: 0; */
    padding: 1rem;
    background-color: #c4c3c3;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto;

}

.about-block a{
    text-align: left;
    text-decoration: none;
    padding: 1rem;
    grid-column: 2/3;
}

.about-img1{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    align-self: center;
}

.about-img2{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    align-self: center;
}

.about-img3{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    align-self: center;
}

.about-block div{
    grid-column: 2/3;
    display: grid;
}

.about-block .button{
    z-index: 1;
    grid-row: 2/3;
}

.about-block .about-title{
    z-index: 1;
}

.about-page .about-block div{
    grid-column: 1/4;
    text-align: center;
    display: flex;
}

.about-block h1{
    font-size: 3rem;
    margin: auto auto 5rem auto;
    color: white;
}

/* instructions page */

.rules-page{
    background-color: white;
    display: grid;
    box-shadow: 0 0 10px 5px #00000070;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem 2rem;
    position: absolute;
    margin: -4rem 0 0 0;
}

.top-paragraph{
    grid-column: 1/3;
    grid-row: 1/2;
}

.middle-paragraph{
    grid-column: 1/2;
    grid-row: 2/3;
}

.bottom-paragraph{
    grid-column: 1/3;
    grid-row: 3/4;
}

.middle-img{
    grid-column: 2/3;
    grid-row: 2/3;
    height: 200px;
    align-self: center;
    margin: 0 auto;
}

.cards-banner{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.cards-banner img{
    margin: 0 auto;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;

}

.form-main{
    position: absolute;
}

.cards-banner h1{
    font-size: 3rem;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
}

@media screen and (max-width: 900px) {
    footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .intro-block{
        font-size: 8px;
    }
    .button{
        font-size: 14px;
    }

    div .about-block{
        margin: 2rem;
    }

    .about-block{
        margin: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 3rem auto 3rem; */
        box-shadow: 5px 5px 10px #6f7364;
    }
    .about-block div{
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 2rem;
        padding: 1rem;
        background-color: #c4c3c3;
        font-size: 1.25rem;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto;
        
    }
    .about-block a{
        text-align: left;
        text-decoration: none;
        padding: 1rem;
        margin: auto 0;
        grid-column: 2/3;
        height: 1.5rem;
    }
    .about-img1{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        align-self: center;
    }
    .about-img2{
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        align-self: center;
    }
    .about-img3{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        align-self: center;
    }

    .menu-block{
        margin: 5rem 0;
        width: 85%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        /* grid-template-rows: 3rem auto 3rem; */
        box-shadow: 5px 5px 10px #6f7364;
        font-size: 14px;
    }
    .menu-block div{
        grid-row: 2/3;
        grid-column: 1/2;
        text-align: left;
        margin: 0;
        padding: 1rem;
        background-color: white;
        font-size: 14px;
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
    
    }
    .menu-block p{
        text-align: left;
        text-decoration: none;
        padding: 1rem;
        margin: 0;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .menu-block a{
        text-align: left;
        text-decoration: none;
        padding: 1rem;
        grid-row: 2/3;
        grid-column: 1/2;

    }
    .menu-img{
        grid-row: 1/2;
        grid-column: 1/2;
        width: 100%;
        align-self: center;
    }
    /* #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #hero2 {
        margin-top: 0;
    }
    #hero-msg2 {
        margin-top: 0;
    }
    #hero-msg2 h4 {
        display: none;
    }
    .home-title2 {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    .rivers_cards{
        background-color:#427AA1;
    }
    
    .info_card{
        background-color: white;
        margin: 3rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        box-shadow: 5px 5px 10px #9a9c95;
    }
    
    .river_name{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 2rem;
    }
    
    .river_p{
        grid-column: 1/3;
        grid-row: 2/3;
        font-size: 1rem;
        padding-right: 1.5rem;
        padding-left: 2rem;
    }
    
    .river_picture{
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        box-shadow: 5px 5px 10px #6f7364;
    }
    
    .button-box2{
        text-align: center;
        grid-row: 3/4;
        grid-column: 1/3;
        margin: 2rem 2rem 0.5rem 2rem;
    }
    */
}